<!DOCTYPE html>
<html>
<head>
    <title>Cajero Automático</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image.png" href="/static/banco.png">
</head>
<body>

<div class="contenedor">
    <div class="tarjeta">

        <i class="bi bi-bank icono-principal"></i>

        <h1>Sistema de Cajero Automático</h1>

        <p class="descripcion">
            Administra tus cuentas, consulta tu saldo y realiza operaciones bancarias de forma rápida y segura.
        </p>

        <div class="botones">
            <a href="/crear_cuenta" class="btn-principal">
                <i class="bi bi-person-plus"></i>
                Crear cuenta bancaria
            </a>

            <a href="/login" class="btn-secundario">
                <i class="bi bi-box-arrow-in-right"></i>
                Ingresar al cajero
            </a>
        </div>

    </div>
</div>

</body>
</html>